/* Default */

a {
    text-decoration: none;
    color: black;
}

/* Header and navbar */

.header-top {
    background-color: #E2B622;
    font-size: 32px;
}

.logo-span {
    color: #E2B622;
}
.btn-search {
    color: #E2B622;
    border-color: #E2B622;
}
.btn-search:hover {
    border-color: #E2B622 !important;
    background-color: #E2B622 !important; 
}

/* Hero section */

.hero {
    background-image: linear-gradient(to right, #E2B622, white);
}

.btn-hero {
    background-color: #E2B622;
    border: #E2B622;
    transition: all 1s;
    padding: 10px 20px ;
}

.btn-hero:hover {
    padding: 5px 60px;
    background-color: #ca9c02;
}

/* Products block */

.btn-buy {
    background-color: #E2B622;
    transition: all 1s;
}
.btn-buy:hover {
    transform: skew(10deg, 10deg);
    background-color: #ca9c02;
}